<div class="login">
  <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="guardarClick(loginForm)">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        autocomplete="disabled" formControlName="email">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="password" autocomplete="disabled"
        formControlName="password">
      <div id="passwordHelp" class="form-text">We'll never share your password with anyone else.</div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <div class="image"></div>
</div>